// Custom Variables
// ----------------
// Fonts
$font-family-base:            'Roboto', sans-serif;
$font-family-secondary:       'Montserrat', sans-serif;


// Color system
$white:                       #fff;
$brand-yellow:                #ffb33f;
