// Custom Variables
// ----------------
// Fonts
$font-family-base:            'Nunito Sans', sans-serif;
$font-family-secondary:       'Montserrat', sans-serif;


// Color system
$white:                       #fff;
$brand-yellow:                #ffb33f;
$brand-maroon:                #d34848;
$brand-black:                 #191919;
$brand-blue:                  #1fe1e9;
